<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.jiyofit.the_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity android:name=".AutoLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FirstActivity"
            android:label="@string/title_activity_first" />
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SocialActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_social" />
        <activity
            android:name=".ProfileActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_profile" />
        <activity
            android:name=".BaseActivity"
            android:label="@string/title_activity_base" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_main_settings" />
        <activity
            android:name=".StatboardActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_statboard" />
        <activity
            android:name=".PerformanceActivity"
            android:label="@string/title_activity_performance"
            android:screenOrientation="sensorPortrait" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider997520850319994"
            android:exported="true" />

        <activity android:name=".ExerciseActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_exercise"/>

    </application>

</manifest>
